<form action="/authentication/sign-up" method="POST">
  <label for="input-titls">Event Name</label>
  <input
    type="text"
    id="input-title"
    name="title"
    placeholder="Event Name"
  />
  <label for="input-description">Event description</label>
 <textarea name="description" id="input-description" cols="30" rows="10"></textarea>

  
  <label for="input-event-picture">Event Picture <small>(optional)</small></label>
  <input id="input-event-picture" type="file" name="event-picture" />

<label for="input-event-location">Location</label>
  <input
    type="text"
    name="eventLocation"
    id="input-event-location"
    placeholder="Event Location"
  />
  <label for="input-event-category">Category</label>
  <input
    type="text"
    name="eventCategory"
    id="input-event-category"
    placeholder="Event Category"
  />
  <label for="input-event-price">Price</label>
  <input
    type="text"
    name="eventPrice"
    id="input-event-price"
    placeholder="Event Price"
  />
  <button>Create Event</button>
</form>
