<form action="/authentication/sign-in" method="POST">
  <div class="row mb-3 mt-5">
    <label for="input-email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input
        type="email"
        id="input-email"
        name="email"
        placeholder="Your Email"
        class="form-control"
      />
    </div>
  </div>

  <div class="row mb-3">
    <label for="input-password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        name="password"
        id="input-password"
        placeholder="A Strong Password"
        class="form-control"
      />
    </div>
  </div>

  <button class="btn btn-outline-secondary">Sign In</button>

</form>