<form method="POST" action="/events/create" enctype="multipart/form-data">
  <label for="input-title">Event Name</label>
  <input type="text" id="input-title" name="title" placeholder="Event Name" />
  <label for="input-description">Event description</label>
  <textarea
    name="description"
    id="input-description"
    cols="30"
    rows="10"
  ></textarea>

  <label for="input-picture">Event Picture</label>
  <input id="input-picture" type="file" name="picture" />

  <label for="input-location">Location</label>
  <input
    type="text"
    name="location"
    id="input-location"
    placeholder="Event Location"
  />
  <label for="input-event-category">Category</label>
  <!-- <input
    type="text"
    name="category"
    id="input-category"
    placeholder="Event Category"
  /> -->
  <select name="category">
    <option value="music">Music</option>
    <option value="sports">Sports</option>
  </select>
  <label for="input-event-price">Price</label>
  <input type="text" name="price" id="input-price" placeholder="Event Price" />
  <button>Create Event</button>
</form>