<form method="Get">
  <label for="input-title">Event Name</label>
  <input
    type="text"
    id="input-title"
    name="title"
    placeholder="Event Name"
    value="{{event.title}}"
  />
  <label for="input-description">Event description</label>
  <textarea
    name="description"
    id="input-description"
    cols="30"
    rows="10"
  ></textarea>

  <label for="input-picture">Event Picture
    <small>(optional)</small></label>
  <input id="input-picture" type="file" name="picture" />

  <label for="input-location">Location</label>
  <input
    type="text"
    name="location"
    id="input-location"
    placeholder="Event Location"
  />
  <label for="input-category">Category</label>
  <input
    type="text"
    name="eventcategory"
    id="input-category"
    placeholder="Event Category"
  />
  <label for="input-price">Price</label>
  <input type="text" name="price" id="input-price" placeholder="Event Price" />
  <button>Edit Event</button>
  <button>Delete Event</button>
</form>